app/index.html
<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;amp;subset=cyrillic" rel="stylesheet"/>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/bootstrap-select.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <title>M2</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-2 links-block hidden-xs">
          <div class="row">
            <div class="col-md-4">
              <div class="logo-support">
                <p>При поддержке:</p><img src="images/logo-mj.svg" alt="alt"/>
              </div>
            </div>
            <div class="col-md-8">
              <ul class="links">
                <li class="location"><a href="#" data-toggle="dropdown" role="button" class="dropdown-toggle text-uppercase">Все регионы 
                    <ul class="dropdown-menu">
                      <li><a href="#">Бишкек</a></li>
                      <li><a href="#">Ош</a></li>
                      <li><a href="#">Баткен</a></li>
                      <li><a href="#">Нарын</a></li>
                      <li><a href="#">Джалалабад</a></li>
                      <li><a href="#">Исык-Куль</a></li>
                    </ul></a></li>
                <li class="signin"><a href="#">Войти</a></li>
                <li class="signup"><a href="#">Регистрация</a></li>
                <li class="advertisers"><a href="#">Рекламодателям</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand logo"><img src="images/logo.svg" style="width: 70px; height: 70px;"/></a>
              </div>
              <div id="navbar-collapse-1" class="collapse navbar-collapse">     
                <div class="advert-count hidden-xs col-md-offset-1">
                  <p>Всего <span>10539</span> <br/> объявлений на сайте            </p>
                </div>
                <ul id="main-menu" class="nav navbar-nav navbar-right">
                  <li class="extra"><a href="#" data-toggle="dropdown" role="button" class="dropdown-toggle">Аренда <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Бишкек</a></li>
                      <li><a href="#">Ош</a></li>
                      <li><a href="#">Баткен</a></li>
                      <li><a href="#">Нарын</a></li>
                      <li><a href="#">Джалалабад</a></li>
                      <li><a href="#">Исык-Куль</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Продажа</a></li>
                  <li><a href="#">Риэлторы</a></li>
                  <li><a href="#">Ж/комплексы</a></li>
                  <li><a href="#">Обмен</a></li>
                  <li><a href="#" data-toggle="dropdown" role="button" class="dropdown-toggle">Покупка <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Бишкек</a></li>
                      <li><a href="#">Ош</a></li>
                      <li><a href="#">Баткен</a></li>
                      <li><a href="#">Нарын</a></li>
                      <li><a href="#">Джалалабад</a></li>
                      <li><a href="#">Исык-Куль</a></li>
                    </ul>
                  </li>
                  <li style="margin-left: 70px;" class="extra advert"><a href="#">Подать объявление</a></li>
                  <li class="visible-xs"><a href="#">Войти</a></li>
                  <li class="visible-xs"><a href="#">Регистрация</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="block atmosphere-block">
  </section>
  <section class="block hot_rent-block">
    <div class="container">
      <div class="row block-header">
        <div class="col-md-10">
          <p class="title">Горячие предложения аренды недвижимости</p>
        </div>
        <div class="col-md-2"><a href="#" class="link">Как сюда попасть</a></div>
      </div>
      <div class="row block-content">
        <div id="hot-carousel-generic" data-ride="carousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#hot-carousel-generic" data-slide-to="0" class="active"></li>
            <li data-target="#hot-carousel-generic" data-slide-to="1"></li>
            <li data-target="#hot-carousel-generic" data-slide-to="2"></li>
          </ol>
          <div role="listbox" class="carousel-inner">
            <div class="item active">
              <div class="col-md-4"><a href="#">
                  <div class="img"><img src="images/img-test.jpg" class="img-responsive"/></div></a>
                <div class="price">
                  <p>1500$</p>
                </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
              </div>
              <div class="col-md-4"><a href="#">
                  <div class="img"><img src="images/img-test.jpg" class="img-responsive"/></div></a>
                <div class="price">
                  <p>1500$</p>
                </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
              </div>
              <div class="col-md-4"><a href="#">
                  <div class="img"><img src="images/img-test.jpg" class="img-responsive"/></div></a>
                <div class="price">
                  <p>1500$</p>
                </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
              </div>
            </div>
            <div class="item">
              <div class="col-md-4"><a href="#">
                  <div class="img"><img src="images/img-test.jpg" class="img-responsive"/></div></a>
                <div class="price">
                  <p>1500$</p>
                </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
              </div>
              <div class="col-md-4"><a href="#">
                  <div class="img"><img src="images/img-test.jpg" class="img-responsive"/></div></a>
                <div class="price">
                  <p>1500$</p>
                </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
              </div>
              <div class="col-md-4"><a href="#">
                  <div class="img"><img src="images/img-test.jpg" class="img-responsive"/></div></a>
                <div class="price">
                  <p>1500$</p>
                </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
              </div>
            </div>
            <div class="item">
              <div class="col-md-4"><a href="#">
                  <div class="img"><img src="images/img-test.jpg" class="img-responsive"/></div></a>
                <div class="price">
                  <p>1500$</p>
                </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
              </div>
              <div class="col-md-4"><a href="#">
                  <div class="img"><img src="images/img-test.jpg" class="img-responsive"/></div></a>
                <div class="price">
                  <p>1500$</p>
                </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
              </div>
              <div class="col-md-4"><a href="#">
                  <div class="img"><img src="images/img-test.jpg" class="img-responsive"/></div></a>
                <div class="price">
                  <p>1500$</p>
                </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
              </div>
            </div>
          </div><a href="#hot-carousel-generic" role="button" data-slide="prev" class="left carousel-control hidden-xs"><span aria-hidden="true" class="icon-prev"></span></a><a href="#hot-carousel-generic" role="button" data-slide="next" class="right carousel-control hidden-xs"><span aria-hidden="true" class="icon-next"></span></a>
        </div>
      </div>
    </div>
  </section>
  <section id="banner-first" class="block banner-block">
    <div class="container">
      <div class="row">
        <div class="col-md-12 banner-img"><a href="#"><img src="images/banner-test.jpg" alt="alt"/></a></div>
      </div>
    </div>
  </section>
  <section class="block sale-block">
    <div class="container">
      <div class="row block-header">
        <div class="col-md-12">
          <p class="title">Продажа</p>
          <ul>
            <li><a href="#">Квартиры <span>13</span></a></li>
            <li><a href="#">Дома <span>2</span></a></li>
            <li><a href="#">Дачи <span>4</span></a></li>
            <li><a href="#">Участки <span>43</span></a></li>
            <li><a href="#">Офисы <span>56</span></a></li>
            <li><a href="#">Помещения</a></li>
            <li><a href="#">Здания <span>3</span></a></li>
            <li><a href="#">Магазины</a></li>
            <li><a href="#">Промзоны</a></li>
            <li><a href="#">Прочее <span>13</span></a></li>
          </ul>
        </div>
      </div>
      <div class="row block-content">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12           </a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>120000 сом</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="banner-second" class="block banner-block">
    <div class="container">
      <div class="row banner-img">
        <div class="col-md-12"><a href="#"><img src="images/banner-test.jpg" alt="alt"/></a></div>
      </div>
    </div>
  </section>
  <section class="block rent-block">
    <div class="container">
      <div class="row block-header">
        <div class="col-md-12">
          <p class="title">Аренда</p>
          <ul>
            <li><a href="#">Квартиры <span>13</span></a></li>
            <li><a href="#">Дома <span>2</span></a></li>
            <li><a href="#">Дачи <span>4</span></a></li>
            <li><a href="#">Участки <span>43</span></a></li>
            <li><a href="#">Офисы <span>56</span></a></li>
            <li><a href="#">Помещения</a></li>
            <li><a href="#">Здания <span>3</span></a></li>
            <li><a href="#">Магазины</a></li>
            <li><a href="#">Промзоны</a></li>
            <li><a href="#">Прочее <span>13</span></a></li>
          </ul>
        </div>
      </div>
      <div class="row block-content">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12           </a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>120000 сом</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
            <div class="col-md-3 block-content_item"><a href="#">
                <div class="img"><img src="images/img-test.jpg" alt="alt"/></div></a>
              <div class="price">
                <p>500$</p>
              </div><a href="#" class="title">2-комнатная квартира, пр. Манаса 12</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="block calculator-block">
    <div class="container">
      <div class="row block-content">
        <div class="col-md-12">
          <div class="col-md-6 calculator">
            <ul class="nav nav-tabs tabs-navigation">
              <li class="active"><a data-target="#calculator_sale" data-toggle="tab">Продажа</a></li>
              <li><a data-target="#calculator_rent" data-toggle="tab">Аренда</a></li>
              <li><a data-target="#calculator_prices" data-toggle="tab">Индекс цен</a></li>
            </ul>
            <div class="tab-content">
              <div id="calculator_sale" class="tab-pane active">
                <p>Подсчет примерной стоимости квартир, исходя из данных текущих объявлений</p>
                <form>
                  <div class="selects-block">
                    <select class="selectpicker">
                      <option>регион</option>
                      <option>12 мкр.</option>
                      <option>10 мкр.</option>
                      <option>8 мкр.</option>
                      <option>7 мкр.</option>
                      <option>6 мкр.</option>
                      <option>5 мкр.</option>
                    </select>
                    <select class="selectpicker">
                      <option>серия</option>
                      <option>104 серия</option>
                      <option>105 серия</option>
                      <option>106 серия</option>
                      <option>хрущевка</option>
                      <option>сталинка</option>
                    </select>
                    <select class="selectpicker">
                      <option>кол-во комнат</option>
                      <option>одна</option>
                      <option>две</option>
                      <option>три</option>
                      <option>четыре</option>
                      <option>пять</option>
                    </select>
                    <select class="selectpicker">
                      <option>состояние</option>
                      <option>отличное</option>
                      <option>хорошее</option>
                      <option>среднее</option>
                      <option>евроремонт</option>
                    </select>
                  </div>
                  <input type="submit" value="Посчитать" class="btn"/>
                </form>
                <div class="price">Средняя цена за м² ≈ <span>897 USD</span></div>
              </div>
              <div id="calculator_rent" class="tab-pane">
                <p>Подсчет примерной стоимости квартир, исходя из данных текущих объявлений</p>
                <form>
                  <div class="selects-block">
                    <select class="selectpicker">
                      <option>регион</option>
                      <option>12 мкр.</option>
                      <option>10 мкр.</option>
                      <option>8 мкр.</option>
                      <option>7 мкр.</option>
                      <option>6 мкр.</option>
                      <option>5 мкр.</option>
                    </select>
                    <select class="selectpicker">
                      <option>серия</option>
                      <option>104 серия</option>
                      <option>105 серия</option>
                      <option>106 серия</option>
                      <option>хрущевка</option>
                      <option>сталинка</option>
                    </select>
                    <select class="selectpicker">
                      <option>кол-во комнат</option>
                      <option>одна</option>
                      <option>две</option>
                      <option>три</option>
                      <option>четыре</option>
                      <option>пять</option>
                    </select>
                    <select class="selectpicker">
                      <option>состояние</option>
                      <option>отличное</option>
                      <option>хорошее</option>
                      <option>среднее</option>
                      <option>евроремонт</option>
                    </select>
                  </div>
                  <input type="submit" value="Посчитать" class="btn"/>
                </form>
                <div class="price">Средняя цена за м² ≈ <span>897 USD</span></div>
              </div>
              <div id="calculator_prices" class="tab-pane">Индекс цен</div>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-1 map">
            <p class="title">Выбор региона</p><object type="image/svg+xml" data="images/kyrgyzstan-map.svg">Ваш браузер не поддерживает SVG</object>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <p class="copyright">©2016 Все права защищены</p>
          <ul class="footer-links">
            <li><a href="#">Рекламодателям</a></li>
            <li><a href="#">Войти</a></li>
            <li><a href="#">Подать объявление</a></li>
            <li><a href="#">Архив газеты "Мое жилье"</a></li>
          </ul>
          <ul class="footer-links">
            <li><a href="#">О сайте</a></li>
            <li><a href="#">Карта сайта</a></li>
            <li><a href="#">Правила сайта</a></li>
          </ul>
          <ul class="footer-links">
            <li><a href="#">Написать нам письмо</a></li>
            <li><a href="#">О газете</a></li>
            <li><a href="#">Вопросы-Ответы</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-md-offset-3 social-block">
          <p>Следите за нашими новостями</p>
          <ul class="social-links">
            <li><a href="#"><img src="images/fb-icon.svg" alt="alt"/></a></li>
            <li><a href="#"><img src="images/in-icon.svg" alt="alt"/></a></li>
            <li><a href="#"><img src="images/ok-icon.svg" alt="alt"/></a></li>
          </ul>
          <ul class="dev-links">
            <li><a href="#"><img src="images/hara_bara-logo.svg" alt="alt"/></a></li>
            <li><a href="#"><img src="images/welkind-logo.svg" alt="alt"/></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/bootstrap.js"></script>
  <script src="js/lib/bootstrap-select.js"></script>
  <script src="js/script.js"></script>
</body>

src/index.jade
<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
  link(rel="stylesheet" href='css/bootstrap.css')
  link(rel="stylesheet" href='css/bootstrap-select.css')
  link(rel="stylesheet" href='css/style.css')
  
  title M2
body
  //- Header block start
  header
    .container
      .row
        .col-md-10.col-md-offset-2.links-block.hidden-xs
          .row
            .col-md-4
              .logo-support
                p При поддержке:
                img(src="images/logo-mj.svg", alt="alt")
            .col-md-8
              ul.links
                li.location: a(href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button")Все регионы 
                  ul.dropdown-menu
                    li: a(href="#")Бишкек
                    li: a(href="#")Ош
                    li: a(href="#")Баткен
                    li: a(href="#")Нарын
                    li: a(href="#")Джалалабад
                    li: a(href="#")Исык-Куль
                li.signin: a(href="#") Войти
                li.signup: a(href="#") Регистрация
                li.advertisers: a(href="#") Рекламодателям
        .col-md-12
          .row
            nav.navbar.navbar-default
              .navbar-header
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a(href="/" class="navbar-brand logo"): img(src="images/logo.svg" style="width: 70px; height: 70px;" )
              .collapse.navbar-collapse#navbar-collapse-1      
                .advert-count.hidden-xs.col-md-offset-1
                  p Всего #[span 10539] #[br] объявлений на сайте            
                ul.nav.navbar-nav.navbar-right#main-menu
                  li.extra
                    a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button") Аренда 
                      span.caret
                    ul.dropdown-menu
                      li: a(href="#") Бишкек
                      li: a(href="#") Ош
                      li: a(href="#") Баткен
                      li: a(href="#") Нарын
                      li: a(href="#") Джалалабад
                      li: a(href="#") Исык-Куль
                  li: a(href="#") Продажа
                  li: a(href="#") Риэлторы
                  li: a(href="#") Ж/комплексы
                  li: a(href="#") Обмен
                  li
                    a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button") Покупка 
                      span.caret
                    ul.dropdown-menu
                      li: a(href="#")Бишкек
                      li: a(href="#")Ош
                      li: a(href="#")Баткен
                      li: a(href="#")Нарын
                      li: a(href="#")Джалалабад
                      li: a(href="#")Исык-Куль
                  li.extra.advert(style="margin-left: 70px;"): a(href="#") Подать объявление
                  li.visible-xs: a(href="#") Войти
                  li.visible-xs: a(href="#") Регистрация
                
  //- Header block end
  //- Atmospere block start
  
  section.block.atmosphere-block
    //- .container
    //-   .row.filter-block
    //-     form
    //-       select.selectpicker
    //-         option купить
    //-         option арендовать
    //-       select.selectpicker
    //-         option квартиру
    //-         option дом
    //-         option участок
    //-         option помещение
    //-       select.selectpicker
    //-         option комнаты
    //-         option одна
    //-         option две
    //-         option три
    //-         option четыре
    //-         option пять
    //-       select.selectpicker
    //-         option бишкек
    //-         option ош
    //-         option баткен
    //-         option нарын
    //-         option исык-куль
    //-       .prices
    //-         input(type="text" placeholder="от")
    //-         input(type="text" placeholder="до")
    //-         select.selectpicker
    //-           option usd
    //-           option сом
          //- label.radio-inline
            //- input(type='radio', name='inlineRadioOptions', id='inlineRadio1', value='option1') с фото
          //- label.radio-inline 
            //- input(type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2") без/п
  
  //- Atmospere block end 
  //- Hot rent block start                  
  section.block.hot_rent-block
    .container
      .row.block-header
        .col-md-10
          p.title Горячие предложения аренды недвижимости
        .col-md-2
          a.link(href="#") Как сюда попасть
      .row.block-content
        div(id="hot-carousel-generic" class="carousel slide" data-ride="carousel")
          ol.carousel-indicators
            li(data-target="#hot-carousel-generic" data-slide-to="0" class="active")
            li(data-target="#hot-carousel-generic" data-slide-to="1")
            li(data-target="#hot-carousel-generic" data-slide-to="2")
          div(class="carousel-inner" role="listbox")
            .item.active
              .col-md-4
                a(href="#"): .img: img(src="images/img-test.jpg" class="img-responsive")
                .price: p 1500$
                a.title(href="#") 2-комнатная квартира, пр. Манаса 12
                
              .col-md-4
                a(href="#"): .img: img(src="images/img-test.jpg" class="img-responsive")
                .price: p 1500$
                a.title(href="#") 2-комнатная квартира, пр. Манаса 12
                
              .col-md-4
                a(href="#"): .img: img(src="images/img-test.jpg" class="img-responsive")
                .price: p 1500$
                a.title(href="#") 2-комнатная квартира, пр. Манаса 12
                
            .item
              .col-md-4
                a(href="#"): .img: img(src="images/img-test.jpg" class="img-responsive")
                .price: p 1500$
                a.title(href="#") 2-комнатная квартира, пр. Манаса 12
                
              .col-md-4
                a(href="#"): .img: img(src="images/img-test.jpg" class="img-responsive")
                .price: p 1500$
                a.title(href="#") 2-комнатная квартира, пр. Манаса 12
                
              .col-md-4
                a(href="#"): .img: img(src="images/img-test.jpg" class="img-responsive")
                .price: p 1500$
                a.title(href="#") 2-комнатная квартира, пр. Манаса 12
                
            .item
              .col-md-4
                a(href="#"): .img: img(src="images/img-test.jpg" class="img-responsive")
                .price: p 1500$
                a.title(href="#") 2-комнатная квартира, пр. Манаса 12
                
              .col-md-4
                a(href="#"): .img: img(src="images/img-test.jpg" class="img-responsive")
                .price: p 1500$
                a.title(href="#") 2-комнатная квартира, пр. Манаса 12
                
              .col-md-4
                a(href="#"): .img: img(src="images/img-test.jpg" class="img-responsive")
                .price: p 1500$
                a.title(href="#") 2-комнатная квартира, пр. Манаса 12

          a(class="left carousel-control hidden-xs" href="#hot-carousel-generic" role="button" data-slide="prev")
            span(class="icon-prev" aria-hidden="true")
          a(class="right carousel-control hidden-xs" href="#hot-carousel-generic" role="button" data-slide="next")
            span(class="icon-next" aria-hidden="true")
  //- Hot rent block end
        
  //- Banner first block start    
  section#banner-first.block.banner-block
    .container
      .row
        .col-md-12.banner-img
          a(href="#"): img(src="images/banner-test.jpg", alt="alt")
  //- Banner first block end        
          
  //- Sale block start                          
  section.block.sale-block
    .container
      .row.block-header
        .col-md-12
          p.title Продажа
          ul
            li: a(href="#"): Квартиры #[span 13]
            li: a(href="#"): Дома #[span 2]
            li: a(href="#"): Дачи #[span 4]
            li: a(href="#"): Участки #[span 43]
            li: a(href="#"): Офисы #[span 56]
            li: a(href="#"): Помещения
            li: a(href="#"): Здания #[span 3]
            li: a(href="#"): Магазины
            li: a(href="#"): Промзоны
            li: a(href="#"): Прочее #[span 13]
                
      .row.block-content
        .col-md-12
          .row
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
              
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12           
                   
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 120000 сом
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
              
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
              
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
              
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
              
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
              
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
  //- Sale block end
  
  //- Banner second block start                          
  section#banner-second.block.banner-block
    .container
      .row.banner-img
        .col-md-12
          a(href="#"): img(src="images/banner-test.jpg", alt="alt")
  //- Banner second block end
          
  //- Rent block start        
  section.block.rent-block
    .container
      .row.block-header
        .col-md-12
          p.title Аренда
          ul
            li: a(href="#"): Квартиры #[span 13]
            li: a(href="#"): Дома #[span 2]
            li: a(href="#"): Дачи #[span 4]
            li: a(href="#"): Участки #[span 43]
            li: a(href="#"): Офисы #[span 56]
            li: a(href="#"): Помещения
            li: a(href="#"): Здания #[span 3]
            li: a(href="#"): Магазины
            li: a(href="#"): Промзоны
            li: a(href="#"): Прочее #[span 13]
                
      .row.block-content
        .col-md-12
          .row
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
              
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12           
                   
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 120000 сом
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
              
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
              
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
              
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
              
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
              
            .col-md-3.block-content_item
              a(href="#"): .img: img(src="images/img-test.jpg" alt="alt")
              .price: p 500$
              a.title(href="#") 2-комнатная квартира, пр. Манаса 12
  //- Rent block end
                    
  //- Calculator block start      
  section.block.calculator-block
    .container
      .row.block-content
        .col-md-12
          .col-md-6.calculator
            ul.nav.nav-tabs.tabs-navigation
              li.active: a(data-target="#calculator_sale" data-toggle="tab") Продажа
              li: a(data-target="#calculator_rent" data-toggle="tab") Аренда
              li: a(data-target="#calculator_prices" data-toggle="tab") Индекс цен
            .tab-content
              .tab-pane.active#calculator_sale
                  p.
                    Подсчет примерной стоимости квартир, исходя из данных текущих объявлений
                  form
                    .selects-block
                      select.selectpicker
                        option регион
                        option 12 мкр.
                        option 10 мкр.
                        option 8 мкр.
                        option 7 мкр.
                        option 6 мкр.
                        option 5 мкр.
                      select.selectpicker
                        option серия
                        option 104 серия
                        option 105 серия
                        option 106 серия
                        option хрущевка
                        option сталинка
                      select.selectpicker
                        option кол-во комнат
                        option одна
                        option две
                        option три
                        option четыре
                        option пять
                      select.selectpicker
                        option состояние
                        option отличное
                        option хорошее
                        option среднее
                        option евроремонт
                    input(class="btn" type="submit" value="Посчитать")
                  .price Средняя цена за м² ≈ #[span 897 USD]
              .tab-pane#calculator_rent
                p.
                  Подсчет примерной стоимости квартир, исходя из данных текущих объявлений
                form
                  .selects-block
                    select.selectpicker
                      option регион
                      option 12 мкр.
                      option 10 мкр.
                      option 8 мкр.
                      option 7 мкр.
                      option 6 мкр.
                      option 5 мкр.
                    select.selectpicker
                      option серия
                      option 104 серия
                      option 105 серия
                      option 106 серия
                      option хрущевка
                      option сталинка
                    select.selectpicker
                      option кол-во комнат
                      option одна
                      option две
                      option три
                      option четыре
                      option пять
                    select.selectpicker
                      option состояние
                      option отличное
                      option хорошее
                      option среднее
                      option евроремонт
                  input(class="btn" type="submit" value="Посчитать")
                .price Средняя цена за м² ≈ #[span 897 USD]
              .tab-pane#calculator_prices Индекс цен
              
          .col-md-5.col-md-offset-1.map
            p.title Выбор региона
            <object type="image/svg+xml" data="images/kyrgyzstan-map.svg">Ваш браузер не поддерживает SVG</object>
  //- Calculator block end
  
  //- Footer block start
  footer
    .container
      .row
        .col-md-5
          p.copyright ©2016 Все права защищены
          ul.footer-links
            li: a(href="#") Рекламодателям
            li: a(href="#") Войти
            li: a(href="#") Подать объявление
            li: a(href="#") Архив газеты "Мое жилье"
          ul.footer-links
            li: a(href="#") О сайте
            li: a(href="#") Карта сайта
            li: a(href="#") Правила сайта
          ul.footer-links
            li: a(href="#") Написать нам письмо
            li: a(href="#") О газете
            li: a(href="#") Вопросы-Ответы
                
        .col-md-4.col-md-offset-3.social-block
          p Следите за нашими новостями
          ul.social-links
            li: a(href="#")
              img(src="images/fb-icon.svg", alt="alt")
            li: a(href="#")
              img(src="images/in-icon.svg", alt="alt")
            li: a(href="#")
              img(src="images/ok-icon.svg", alt="alt")
          ul.dev-links
            li: a(href="#")
              img(src="images/hara_bara-logo.svg", alt="alt")
            li: a(href="#")
              img(src="images/welkind-logo.svg", alt="alt")
  //- Footer block end      
        
        
  script(src='js/lib/jquery.js')
  script(src='js/lib/bootstrap.js')
  script(src='js/lib/bootstrap-select.js')
  script(src='js/script.js')
  
